{{ $structuredData := dict }}
{{ $siteAuthor := .Site.Params.author | default dict }}
{{ $siteAuthorName := $siteAuthor.name | default "" }}
{{ $siteAuthorURL := $siteAuthor.url | default "" }}
{{ $siteAuthorImage := $siteAuthor.image | default "" }}
{{ $seoConfig := .Site.Params.seo | default dict }}
{{ $features := .Site.Params.features | default dict }}
{{ $organization := .Site.Params.organization }}

<!-- Website Schema -->
{{ if .IsHome }}
  {{ $websiteSchema := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
    "inLanguage" .Site.Language.Lang
  }}
  
  {{ if $siteAuthorName }}
    {{ $author := dict
      "@type" "Person"
      "name" $siteAuthorName
    }}
    {{ if $siteAuthorURL }}
      {{ $author = $author | merge (dict "url" $siteAuthorURL) }}
    {{ end }}
    {{ if $siteAuthorImage }}
      {{ $author = $author | merge (dict "image" ($siteAuthorImage | absURL)) }}
    {{ end }}
    {{ $websiteSchema = $websiteSchema | merge (dict "author" $author) }}
  {{ end }}
  
  {{ with $seoConfig.sameAs }}
    {{ $websiteSchema = $websiteSchema | merge (dict "sameAs" .) }}
  {{ end }}
  
  <!-- Search Action for the website -->
  {{ if $features.search }}
    {{ $searchAction := dict
      "@type" "SearchAction"
      "target" (printf "%s/search/?q={search_term_string}" .Site.BaseURL)
      "query-input" "required name=search_term_string"
    }}
    {{ $websiteSchema = $websiteSchema | merge (dict "potentialAction" $searchAction) }}
  {{ end }}
  
  {{ $structuredData = $websiteSchema }}

<!-- Organization Schema -->
{{ else if eq .Type "about" }}
  {{ $organizationSchema := dict
    "@context" "https://schema.org"
    "@type" "Organization"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
  }}
  
  {{ with $organization }}
    {{ with .logo }}
      {{ $organizationSchema = $organizationSchema | merge (dict "logo" (. | absURL)) }}
    {{ end }}
    {{ with .address }}
      {{ $organizationSchema = $organizationSchema | merge (dict "address" .) }}
    {{ end }}
    {{ with .contactPoint }}
      {{ $organizationSchema = $organizationSchema | merge (dict "contactPoint" .) }}
    {{ end }}
  {{ end }}
  
  {{ with $seoConfig.sameAs }}
    {{ $organizationSchema = $organizationSchema | merge (dict "sameAs" .) }}
  {{ end }}
  
  {{ $structuredData = $organizationSchema }}

<!-- Article Schema -->
{{ else if .IsPage }}
  {{ $description := .Description | default (.Summary | truncate 160) }}
  {{ $articleSchema := dict
    "@context" "https://schema.org"
    "@type" "Article"
    "headline" .Title
    "description" $description
    "url" .Permalink
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "inLanguage" .Site.Language.Lang
  }}
  
  <!-- Article Author -->
  {{ $authorName := .Params.author | default $siteAuthorName }}
  {{ $author := dict
    "@type" "Person"
    "name" $authorName
  }}
  {{ if $siteAuthorURL }}
    {{ $author = $author | merge (dict "url" $siteAuthorURL) }}
  {{ end }}
  {{ if $siteAuthorImage }}
    {{ $author = $author | merge (dict "image" ($siteAuthorImage | absURL)) }}
  {{ end }}
  {{ $articleSchema = $articleSchema | merge (dict "author" $author) }}
  
  <!-- Publisher Information -->
  {{ $publisher := dict
    "@type" "Organization"
    "name" .Site.Title
    "url" .Site.BaseURL
  }}
  {{ with $organization.logo }}
    {{ $logo := dict
      "@type" "ImageObject"
      "url" (. | absURL)
    }}
    {{ $publisher = $publisher | merge (dict "logo" $logo) }}
  {{ end }}
  {{ $articleSchema = $articleSchema | merge (dict "publisher" $publisher) }}
  
  <!-- Article Image -->
  {{ $image := .Params.image | default $seoConfig.defaultImage }}
  {{ if $image }}
    {{ $imageSchema := dict
      "@type" "ImageObject"
      "url" ($image | absURL)
    }}
    {{ with .Params.imageAlt }}
      {{ $imageSchema = $imageSchema | merge (dict "caption" .) }}
    {{ end }}
    {{ $articleSchema = $articleSchema | merge (dict "image" $imageSchema) }}
  {{ end }}
  
  <!-- Article Categories and Tags -->
  {{ if .Params.categories }}
    {{ $articleSchema = $articleSchema | merge (dict "articleSection" .Params.categories) }}
  {{ end }}
  
  {{ if .Params.tags }}
    {{ $keywords := delimit .Params.tags ", " }}
    {{ $articleSchema = $articleSchema | merge (dict "keywords" $keywords) }}
  {{ end }}
  
  <!-- Word Count and Reading Time -->
  {{ if .WordCount }}
    {{ $articleSchema = $articleSchema | merge (dict "wordCount" .WordCount) }}
  {{ end }}
  
  {{ if .ReadingTime }}
    {{ $timeRequired := printf "PT%dM" .ReadingTime }}
    {{ $articleSchema = $articleSchema | merge (dict "timeRequired" $timeRequired) }}
  {{ end }}
  
  <!-- Main Entity of Page -->
  {{ $mainEntity := dict
    "@type" "WebPage"
    "@id" .Permalink
    "url" .Permalink
    "name" .Title
    "description" $description
    "inLanguage" .Site.Language.Lang
    "isPartOf" (dict "@type" "WebSite" "url" .Site.BaseURL "name" .Site.Title)
  }}
  {{ $articleSchema = $articleSchema | merge (dict "mainEntityOfPage" $mainEntity) }}
  
  {{ $structuredData = $articleSchema }}

<!-- Blog Posting Schema for blog posts -->
{{ if in (slice "blog" "post" "posts") .Section }}
  {{ $structuredData = $structuredData | merge (dict "@type" "BlogPosting") }}
{{ end }}

<!-- Breadcrumb Schema -->
{{ else if .IsSection }}
  {{ $breadcrumbSchema := dict
    "@context" "https://schema.org"
    "@type" "BreadcrumbList"
  }}
  
  {{ $items := slice }}
  {{ $items = $items | append (dict
    "@type" "ListItem"
    "position" 1
    "name" .Site.Title
    "item" .Site.BaseURL
  ) }}
  
  {{ $items = $items | append (dict
    "@type" "ListItem"
    "position" 2
    "name" .Title
    "item" .Permalink
  ) }}
  
  {{ $breadcrumbSchema = $breadcrumbSchema | merge (dict "itemListElement" $items) }}
  {{ $structuredData = $breadcrumbSchema }}
{{ end }}

<!-- Output the structured data -->
{{ if $structuredData }}
<script type="application/ld+json">
{{ $structuredData | jsonify | safeHTML }}
</script>
{{ end }}

<!-- Additional structured data for specific content types -->
{{ if .Params.faq }}
<!-- FAQ Schema -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{ range $index, $faq := .Params.faq }}
    {{ if $index }},{{ end }}
    {
      "@type": "Question",
      "name": "{{ $faq.question }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ $faq.answer }}"
      }
    }
    {{ end }}
  ]
}
</script>
{{ end }}

{{ if .Params.howto }}
<!-- HowTo Schema -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HowTo",
  "name": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | truncate 160 }}{{ end }}",
  "image": {{ if .Params.image }}"{{ .Params.image | absURL }}"{{ else }}""{{ end }},
  "step": [
    {{ range $index, $step := .Params.howto }}
    {{ if $index }},{{ end }}
    {
      "@type": "HowToStep",
      "name": "{{ $step.name }}",
      "text": "{{ $step.text }}"{{ if $step.image }},
      "image": "{{ $step.image | absURL }}"{{ end }}
    }
    {{ end }}
  ]
}
</script>
{{ end }}