{{- /* Facebook Pixel - Simplified Version for Integration Testing */ -}}

{{- $fbPixel := site.Params.facebookPixel -}}
{{- if and $fbPixel.enabled $fbPixel.pixelId -}}

{{- $privacy := site.Params.privacy | default dict -}}
{{- $respectDNT := $privacy.respectDoNotTrack | default true -}}

<!-- Facebook Pixel Code -->
<script>
  {{- if $respectDNT }}
  // Check for Do Not Track
  var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
  if (dnt !== "1" && dnt !== "yes") {
  {{- end }}
  
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '{{ $fbPixel.pixelId }}');
  
  {{- if $fbPixel.events.pageView | default true }}
  fbq('track', 'PageView');
  {{- end }}
  
  {{- if $respectDNT }}
  }
  {{- end }}
</script>

<noscript>
  <img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id={{ $fbPixel.pixelId }}&ev=PageView&noscript=1"/>
</noscript>

{{- end -}}