{{/*
  Facebook Pixel Integration Partial
  
  This partial implements Facebook Pixel tracking with privacy compliance
  and configurable event tracking capabilities.
  
  Requirements: 7.1, 7.2, 7.3, 7.4, 7.5
*/}}

{{- $fbPixel := site.Params.facebookPixel | default dict -}}
{{- $fbPixelEnabled := $fbPixel.enabled | default false -}}
{{- $fbPixelId := $fbPixel.pixelId | default "" -}}
{{- $fbPixelConfigured := and $fbPixelEnabled $fbPixelId -}}
{{- $fbPixelEvents := $fbPixel.events | default dict -}}
{{- $privacy := site.Params.privacy | default dict -}}
{{- $respectDoNotTrack := $privacy.respectDoNotTrack | default true -}}

{{- if $fbPixelConfigured -}}

<!-- Facebook Pixel Code -->
<script>
  {{- if $respectDoNotTrack }}
  // Check for Do Not Track preference
  var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
  var doNotTrack = (dnt == "1" || dnt == "yes");
  
  if (!doNotTrack) {
  {{- end }}
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    
    // Initialize Facebook Pixel
    fbq('init', '{{ $fbPixelId }}');

    {{- if $fbPixelEvents.pageView | default true }}
    fbq('track', 'PageView');
    {{- end }}

    {{- if and ($fbPixelEvents.viewContent | default false) (eq .Type "blog") }}
    fbq('track', 'ViewContent', {
      content_type: 'article',
      content_ids: ['{{ .Permalink }}'],
      content_name: '{{ .Title | htmlEscape }}',
      content_category: '{{ with .Section }}{{ . }}{{ end }}'
    });
    {{- end }}

    {{- if $fbPixelEvents.search }}
    // Search event tracking function
    window.fbPixelTrackSearch = function(searchTerm) {
      if (typeof fbq !== 'undefined') {
        fbq('track', 'Search', {
          search_string: searchTerm
        });
      }
    };
    {{- end }}

    {{- if $fbPixelEvents.contact }}
    // Contact event tracking function
    window.fbPixelTrackContact = function() {
      if (typeof fbq !== 'undefined') {
        fbq('track', 'Contact');
      }
    };
    {{- end }}

    {{- if $fbPixelEvents.lead }}
    // Lead event tracking function
    window.fbPixelTrackLead = function() {
      if (typeof fbq !== 'undefined') {
        fbq('track', 'Lead');
      }
    };
    {{- end }}

    {{- range $fbPixel.customEvents }}
    {{- if .enabled }}
    // Custom event: {{ .name }}
    window.fbPixelTrack{{ .name | title }} = function(customData) {
      if (typeof fbq !== 'undefined') {
        fbq('trackCustom', '{{ .name }}', customData || {});
      }
    };
    {{- end }}
    {{- end }}
    
  {{- if $respectDoNotTrack }}
  } else {
    console.log('Facebook Pixel: Tracking disabled due to Do Not Track preference');
  }
  {{- end }}
</script>

<!-- Facebook Pixel Noscript -->
<noscript>
  {{- if not $respectDoNotTrack }}
  <img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id={{ $fbPixelId }}&ev=PageView&noscript=1"/>
  {{- end }}
</noscript>

{{- if $privacy.cookieConsent }}
<script>
  // GDPR Compliance and Cookie Consent Integration
  document.addEventListener('cookieConsentGiven', function(event) {
    if (event.detail && event.detail.analytics) {
      if (typeof fbq !== 'undefined') {
        fbq('consent', 'grant');
      }
    }
  });
  
  document.addEventListener('cookieConsentRevoked', function(event) {
    if (typeof fbq !== 'undefined') {
      fbq('consent', 'revoke');
    }
  });
</script>
{{- end }}

{{- else }}
{{- if hugo.IsServer }}
<!-- Facebook Pixel: Not configured or disabled -->
<!-- To enable: Set params.facebookPixel.enabled = true and params.facebookPixel.pixelId in your configuration -->
{{- end }}
{{- end }}